---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com//search/photos?query=dog
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLASH_ASSCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?page=325&query=dog>; rel="last", <https://api.unsplash.com/search/photos?page=2&query=dog>;
        rel="next"
      X-Total:
      - '3249'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":3249,"total_pages":325,"results":[{"id":"FbG7KdgPSjs","created_at":"2018-08-18T17:43:05-04:00","updated_at":"2018-08-29T15:01:43-04:00","width":4950,"height":3300,"color":"#EBE3D5","description":"adult
        white and black Shih Tzu","urls":{"raw":"https://images.unsplash.com/photo-1534628526458-a8de087b1123?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjM5MjgxfQ&s=1ee610bcb6fece67ce610925060f943d","full":"https://images.unsplash.com/photo-1534628526458-a8de087b1123?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjM5MjgxfQ&s=3c8e179f9bfc5e16caca4dcd49851fba","regular":"https://images.unsplash.com/photo-1534628526458-a8de087b1123?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjM5MjgxfQ&s=3944ace08bad99da7a0abd4aa72e2e38","small":"https://images.unsplash.com/photo-1534628526458-a8de087b1123?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjM5MjgxfQ&s=8cbaba2af2c5b2a7e1d893772d7e0af0","thumb":"https://images.unsplash.com/photo-1534628526458-a8de087b1123?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjM5MjgxfQ&s=f7b2513ead89a8528b9bebdd3e40f8f5"},"links":{"self":"https://api.unsplash.com/photos/FbG7KdgPSjs","html":"https://unsplash.com/photos/FbG7KdgPSjs","download":"https://unsplash.com/photos/FbG7KdgPSjs/download","download_location":"https://api.unsplash.com/photos/FbG7KdgPSjs/download"},"categories":[],"sponsored":false,"likes":21,"liked_by_user":false,"current_user_collections":[],"slug":null,"user":{"id":"pLOiue79boM","updated_at":"2018-10-20T11:23:26-04:00","username":"nxn","name":"Nikolay
        Tchaouchev","first_name":"Nikolay","last_name":"Tchaouchev","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/nxn","html":"https://unsplash.com/@nxn","photos":"https://api.unsplash.com/users/nxn/photos","likes":"https://api.unsplash.com/users/nxn/likes","portfolio":"https://api.unsplash.com/users/nxn/portfolio","following":"https://api.unsplash.com/users/nxn/following","followers":"https://api.unsplash.com/users/nxn/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1534629152591-341cf013768a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32&s=3576e0bb946f5b2eb75060feaabe54f3","medium":"https://images.unsplash.com/profile-1534629152591-341cf013768a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=be9c21af2240dad4a87cfb1ec458f753","large":"https://images.unsplash.com/profile-1534629152591-341cf013768a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=8236eaad808f387f2805f07f2070d428"},"instagram_username":"nxn_t","total_collections":4,"total_likes":0,"total_photos":39,"accepted_tos":false},"sponsored_by":null,"tags":[{"title":"dog
        walking"},{"title":"pet"},{"title":"small dog"},{"title":"furry"},{"title":"furry
        dog"},{"title":"white dog"},{"title":"shih-tsu"}],"photo_tags":[{"title":"dog
        walking"},{"title":"pet"},{"title":"small dog"},{"title":"furry"},{"title":"furry
        dog"}]},{"id":"ybHtKz5He9Y","created_at":"2018-06-19T13:36:05-04:00","updated_at":"2018-08-28T21:10:05-04:00","width":3024,"height":4032,"color":"#0E131D","description":"long-coated
        white dog","urls":{"raw":"https://images.unsplash.com/photo-1529429617124-95b109e86bb8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjM5MjgxfQ&s=5876e1f420f2ccc5e3729990d2baf4f9","full":"https://images.unsplash[...]
- request:
    method: get
    uri: https://api.unsplash.com//search/photos?query=dog
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLASH_ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?page=325&query=dog>; rel="last", <https://api.unsplash.com/search/photos?page=2&query=dog>;
        rel="next"
      X-Total:
      - '3249'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":3249,"tota[...]
